<% if work_room.favorited_by?(current_user) %>
  <%= link_to work_room_favorite_path(work_room), method: :delete, remote: true, class: "btn btn-outline-secondary rounded-pill work_room_show__favorite_btn--click" do %>
    <span>参考になった</span>
    <i class="far fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to work_room_favorite_path(work_room), method: :post, remote: true, class: "btn btn-outline-secondary rounded-pill work_room_show__favorite_btn" do %>
    <span>参考になった</span>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>