<div class="work_rooms_recomend container-fruid">
  <div class="breadcrumbs_list">
    <% breadcrumb :recommend_items %>
    <%= render 'layouts/breadcrumbs' %>
  </div>
  <div class="row">
    <div class="work_rooms_recomend__side_bar col-3 px-5">
      <h3 class="mt-5 mb-4">ジャンルで絞り込む</h3>
      <%= render 'layouts/creator_genre_search_list' %>

      <h3 class="mt-5 mb-4">タグで絞り込む</h3>
      <%= render partial: "layouts/tag_search_box" %>
    </div>
    <div class="work_rooms_recomend__posts_block col">
      <h3 class="mt-5 mb-4">おすすめ一覧</h3>
      <%= render partial: "work_rooms", locals: {work_rooms: @work_rooms_recomend} %>
    </div>
  </div>
</div>