.work_room_show {
  &__breadcrumbs_list {
    width: 100%;
  }

  // ヘッダー -------------------------
  &__header {
    width: 100%;
  }
  // ヘッダー/ -------------------------

  // 投稿画像表示 -------------------------
  &__operation_btns {
    margin-bottom: 5px;
  }

  &__repute_display {
    margin-right: 10px;
  }

  &__images {
    width: 700px;
    height: 500px;
  }

  #theTarget {
    border-radius: 3%;
  }
  // 投稿画像表示/ -------------------------

  // 使用しているアイテム -------------------------
  &__post_item_block {
    margin-bottom: 20px;
  }

  &__post_item_title {
    font-size: 1.3rem;
    margin: 30px 0 5px;
  }

  &__post_items {
    display: flex;
    padding-top: 10px;
  }

  &__creator_item_thumbnail {
    border: 1px solid #707070;
    border-radius: 26px;
    width: 170px;
    height: 290px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    a, a:hover {
      color: black;
      text-decoration: none;
    }
  }

  &__item_img_box {
    height: 128px;
    text-align: center;
    margin: 30px 0 10px;
  }

  &__external_site_name {
    color: #9A9A9A;
  }

  &__item_name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__item_price {
    font-size: 1.3rem;
    font-weight: 500;
  }
  // 使用しているアイテム/ -------------------------

  // 投稿ユーザプロフィール -------------------------
  &__user_profile_box {
    display: flex;
    align-items: center;
  }

  &__user_icon_box {
    position: relative;
  }

  &__user_icon_box {
    position: relative;
  }

  .profile_image {
    border-radius: 50%;
    border: 2px solid #d0d0d0;
  }

  &__genre_images_box {
    position: absolute;
    display: flex;
    bottom: -3px;
    left: -3px;
  }

  .genre_icon_image:nth-child(n+2) {
    margin-left: -15%;
  }
  // 投稿ユーザプロフィール/ -------------------------

  // 投稿者コメント -------------------------
  &__post_caption {
    margin: 20px 0;
  }
  // 投稿者コメント/ -------------------------

  // 投稿評価ボタン -------------------------
  &__reaction_btns {
    display: flex;
    margin-bottom: 40px;
  }

  &__favorite_btn {
    margin-right: 10px;
    &--click {
      margin-right: 10px;
      background-color: #D25249 !important;
      color: white !important;
    }
  }

  &__save_item_btn {
    &--click {
      background-color: #D25249 !important;
      color: white !important;
    }
  }
  // 投稿評価ボタン/ -------------------------

  // ユーザの他の投稿 -------------------------
  &__user_other_posts_title {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  &__other_post_items {
    display: flex;
    flex-wrap: wrap;
  }

  &__other_post_item {
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
  }

  &__other_post_genre_img {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  // ユーザの他の投稿/ -------------------------
}