.contents_center {
  background-image: image-url('signin_signout/page_bg.jpeg');
  background-size: cover;
  background-position: center;
  height: 87vh;

  &__contents {
    background-color: #E8E8E8;
    width: 500px;
  }

  &__header {
    text-align: center;
    p {
      font-size: 13px;
    }
  }

}