.creator_genre_search_list {
  list-style: none;
  padding: 0;

  &__creator_genre_link {
    color: black;
  }

  &__creator_genre_list_item {
    border-top: 1px solid #A3ADB2;
    line-height: 2.7em;
    position: relative;
  }

  &__creator_genre_list_item:nth-last-child(1) {
    border-top: 1px solid #A3ADB2;
    border-bottom: 1px solid #A3ADB2;
  }

  &__chevron_right_icon {
    color: #707070;
    position: absolute;
    right: 15px;
  }
}