.item_select_card {
  width: 190px;
  border: 1px solid #707070;
  margin-right: 20px;
  margin-bottom: 20px;

  &__name_box {
    width: 100%;
    height: 6em;
  }

  &__name {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  &__img_box {
    height: 128px;
  }
}