// @import "../mixin/my_btn";
%__my_secondary_btn {
  @include my_btn;
  color: white !important;
  background-color: $color-creatorsitem--blue !important;
}

.my_secondary_btn {
  @extend %__my_secondary_btn;

  &:hover {
    @extend %__my_secondary_btn;
    opacity: 0.8;
  }
}