// ユーザアイコン
.user_icon {
  width: 90%;
  overflow: hidden;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  & a, a:hover {
    color: black;
    text-decoration: none;
  }

  &__profile_image {
    border-radius: 50%;
    border: 2px solid #d0d0d0;
  }

  &__genre_images_box {
    position: absolute;
    display: flex;
    bottom: -3px;
    left: -3px;
  }

  &__genre_icon_image {
    &:nth-child(n+2) {
      margin-left: -15%;
    }
    &:nth-child(1) { z-index: 10; }
    &:nth-child(2) { z-index: 9; }
    &:nth-child(3) { z-index: 8; }
    &:nth-child(4) { z-index: 7; }
  }

}