<div class="breadcrumbs">
  <%#= breadcrumbs separator: " &rsaquo; ", style: :bootstrap %>

  <% breadcrumbs(autoroot: true).tap do |links| %>
    <% if links.any? %>
      <% links.each do |link| %>
        <% unless link.current? %>
          <%= link_to link.text, link.url %>
          <span> <i class="fas fa-chevron-right mx-2"></i> </span>
        <% else %>
          <span class="current"><%= link.text %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>